/* CSS Tela de Edição da Nota  */
.note-title {
  height: 30px;
  width: 500px;
}

.note-body {
  height: 300px;
  width: 500px;
}

.input-group {
  max-width: 360px;
  margin: 0 auto;
  display: flex;
}

.input-group button {
  margin-top: 15px
}

/* CSS Tela de Login */

.login-box {
  max-width: 360px;
  margin: 0  auto;
  margin-top: 250px;
  display: flex;
  flex-direction: column
}

.login-box button {
  width: 360px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.login-box input {
  display: flex;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* CSS Tela de Cadastro de Usuario */

.user-register {
  flex-direction: column;
  max-width: 360px;
  margin: 0 auto;
  display: flex;
  margin-top: 250px;
}

.user-register button {
  width: 360px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.user-register span {
  margin-left: 40px;
}

.user-register input {
  display: flex;
  border-radius: 5px;
  margin-bottom: 10px;
}
