/* Css Global */
* { 
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #ccc

} 

body, #root {
  height: 100%
}

th {
  width: 33%;

}

textarea { height: auto; }

ul {
  display: flex;
  justify-content: center;
  font-family: "Open Sans",sans-serif;
}

li {
  padding: 15px;
  list-style-type: none;
}

span {
  color: #ccc
}
p {
  color: #ccc
}

input {
  border: 1px solid #ccc;
  border-radius: 8px
}





